<h1>Stories</h1>
<div class="row">
    {{#each blogs}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <a href="/blogs/edit/{{id}}" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <!-- Need tripe bracket to parse HTML text -->
                <!-- <p class="story-text">{{{body}}}</p> -->
                <p class="blog-text">{{truncate (stripTags body) 150}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="{{user.firstName}} {{user.lastName}}">
                    {{user.firstName}} {{user.lastName}}
                </div>
            </div>
            <div class="card-action center-align">
                <a class="btn grey" href="/blogs/show/{{id}}">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No story at the moment</p>
    {{/each}}
</div>