<div class="row">
    <div class="col s12 m8">
        <a href="{{previousPage}}" class="waves-effect waves-light btn goback-btn light-blue lighten-1">Go Back</a>
        <h3 class="word-wrapping">
            {{blog.title}}
            <small>{{{editIcon blog.user.id user.id blog.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content word-wrapping">
                <span class="card-title">{{formatDate blog.date 'MMMM Do YYYY'}}</span>
                {{#if blog.coverImage.data}}
                <hr>
                {{{writeBodyImage blog.coverImage.data}}}
                {{/if}}
                <hr>
                <!-- Need tripe bracket to parse HTML text -->
                {{{blog.body}}}
            </div>
        </div>
        <!-- Comment Section -->

        {{#if blog.allowComments}}
        <div class="card">
            <div class="card-content">
                <span class="card-title"><i class="fa fa-comment"></i> Comments</span>
                {{#each blog.comments}}
                <hr>
                <div class="card-content">
                    <h5 class="word-wrapping">{{commentBody}}</h5>
                    <div class="chip">
                        <img src="{{commentUser.image}}" alt="{{commentUser.firstName}} {{commentUser.lastName}}">
                        <a href="/blogs/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
                    </div>
                    <br>
                    <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
                </div>
                {{/each}}
                {{#if user}}
                <form action="/blogs/comment/{{blog.id}}" method="POST">
                    <div class="input-field">
                        <textarea name="commentBody" class="materialize-textarea comment" placeholder="Leave your comment here..."
                            minlength="1" maxlength="200" data-length="200" required></textarea>
                        <label>Add Comment (Max Number Of Characters: 200)</label>
                    </div>
                    <input type="submit" value="Save Comment" class="btn">
                </form>
                {{else}}
                <p>Please <a href="/auth/google">log in</a> to leave a comment</p>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">
                    {{blog.user.firstName}} {{blog.user.lastName}}
                </span>
                <img src="{{blog.user.image}}" alt="{{blog.user.firstName}} {{blog.user.lastName}}" class="circle responsive-img"
                    style="max-width: 200px; max-height: 200px;">
            </div>
            <div class="card-action">
                <a href="/blogs/user/{{blog.user.id}}">More From {{blog.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>