<div class="row">
    <div class="col s12 m8">
        <a href="{{previousPage}}" class="waves-effect waves-light btn goback-btn light-blue lighten-1">Go Back</a>
        <h3 class="word-wrapping">{{blog.title}}</h3>
        <div class="card story">
            <div class="card-content word-wrapping">
                <span class="card-title">{{formatDate blog.date 'MMMM Do YYYY'}}</span>
                <!-- Need tripe bracket to parse HTML text -->
                {{{blog.body}}}
            </div>
        </div>
        <!-- Comment Section -->
        {{#if blog.allowComments}}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Comments</span>
                {{#if user}}
                <form action="/blogs/comment/{{blog.id}}" method="POST">
                    <div class="input-field">
                        <textarea name="commentBody" class="materialize-textarea" placeholder="Leave your comment here..."></textarea>
                        <label>Add Comment</label>
                    </div>
                    <input type="submit" value="Save Comment" class="btn">
                </form>
                {{else}}
                <p>Please <a href="/auth/google">log in</a> to leave a comment</p>
                {{/if}}
            </div>
        </div>
        {{else}}
        {{/if}}
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">
                    {{blog.user.firstName}} {{blog.user.lastName}}
                </span>
                <img src="{{blog.user.image}}" alt="{{blog.user.firstName}} {{blog.user.lastName}}" class="circle responsive-img"
                    style="max-width: 200px; max-height: 200px;">
            </div>
            <div class="card-action">
                <a href="/blogs/user/{{blog.user.id}}">More From {{blog.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>